lead-capture-landing-page/workflow.json
{"updatedAt":"2026-02-12T07:03:49.171Z","createdAt":"2026-02-12T03:13:27.282Z","id":"z7hftIHKkaxIDHKMCflwE","name":"AI Lead Capture & Booking MVP","description":null,"active":true,"isArchived":false,"nodes":[{"id":"7bd0625b-a093-4ae7-83d4-4d88d3f97a9e","name":"Webhook","parameters":{"httpMethod":"POST","options":{},"path":"ai-lead-capture","responseMode":"responseNode"},"position":[-752,16],"type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"edf48e14-caca-4430-8a07-263126e2c75b","onError":"continueRegularOutput"},{"credentials":{"openAiApi":{"id":"L50tzVeIuwayaVlB","name":"OpenAIAPIKey"}},"id":"d5e3362e-c7a3-4c0c-be3d-50acd4139d23","name":"AI Qualification","parameters":{"model":"gpt-4o-mini","options":{},"prompt":{"messages":[{"content":"You are a lead qualification assistant for a dental clinic. Classify the lead as either QUALIFIED or NOT_QUALIFIED.\n\nA qualified lead must:\n- Have clear intent to book a dental appointment or service\n- Show genuine interest in dental care\n\nRespond ONLY in this exact format:\nSTATUS: QUALIFIED or NOT_QUALIFIED\nREASON: short explanation","role":"system"},{"content":"=Name: {{ $json.body.name }}\nEmail: {{ $json.body.email }}\nPhone: {{ $json.body.phone || 'Not provided' }}\nService: {{ $json.body.service || 'Not specified' }}\nMessage: {{ $json.body.message }}","role":"user"}]},"requestOptions":{},"resource":"chat","simplifyOutput":false},"position":[-528,16],"type":"n8n-nodes-base.openAi","typeVersion":1},{"id":"0bb05eb4-6124-454c-b47d-f699cf1b86df","name":"Is Qualified?","parameters":{"conditions":{"combinator":"and","conditions":[{"id":"1","leftValue":"={{ ($json.choices[0].message.content.match(/STATUS:\\s*(QUALIFIED|NOT_QUALIFIED)/i) || [])[1] || 'UNKNOWN' }}","operator":{"operation":"equals","type":"string"},"rightValue":"QUALIFIED"}],"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"}}},"position":[-304,16],"type":"n8n-nodes-base.if","typeVersion":2.3},{"credentials":{"googleSheetsOAuth2Api":{"id":"JQS8IgeFbaxByY61","name":"Google Sheets account"}},"id":"8026b6a2-8e8e-4708-b5d0-debf76927c29","name":"Append row in sheet","parameters":{"dataMode":"defineBelow","documentId":{"__rl":true,"mode":"list","value":"1omzK8szrA7bAdplT_ZAgu-XqI12rwuDXiP36yOsjqBk"},"fieldsUi":{"fieldValues":[{"fieldId":"Name","fieldValue":"={{ $('Webhook').item.json.body.name }}"},{"fieldId":"Email","fieldValue":"={{ $('Webhook').item.json.body.email }}"},{"fieldId":"Message","fieldValue":"={{ $('Webhook').item.json.body.message }}"},{"fieldId":"Mobile","fieldValue":"={{ $('Webhook').item.json.body.phone || 'Not provided' }}"},{"fieldId":"Status","fieldValue":"={{ ($json.choices[0].message.content.match(/STATUS:\\s*(QUALIFIED|NOT_QUALIFIED)/i) || [])[1] || 'UNKNOWN' }}"},{"fieldId":"Reason","fieldValue":"={{ ($json.choices[0].message.content.match(/REASON:\\s*(.*)/i) || [])[1] || 'No reason provided' }}"},{"fieldId":"Timestamp","fieldValue":"={{ new Date().toISOString() }}"},{"fieldId":"Source","fieldValue":"={{ $('Webhook').item.json.body.source || 'direct' }}"}]},"operation":"append","options":{},"range":"Sheet1!A:H","resource":"sheet","sheetName":{"__rl":true,"mode":"list","value":"gid=0"}},"position":[-80,-80],"type":"n8n-nodes-base.googleSheets","typeVersion":3},{"id":"1d053ea6-b325-464c-9503-cd576aec36d5","name":"Qualified Response","parameters":{"responseBody":"={{ JSON.stringify({ status: 'qualified', name: $('Webhook').item.json.body.name, email: $('Webhook').item.json.body.email, qualification: 'QUALIFIED', reason: (($('AI Qualification').item.json[\"choices\"][0][\"message\"][\"content\"] || '').match(/REASON:\\s*(.*)/is) || [])[1] || 'Lead qualified', savedToSheets: true, timestamp: new Date().toISOString() }) }}"},"position":[144,-80],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1},{"id":"f8990fa6-1286-46cc-a099-fe22853290dc","name":"Not Qualified Response","parameters":{"responseBody":"={{ JSON.stringify({ status: 'not_qualified', name: $('Webhook').item.json.body.name, email: $('Webhook').item.json.body.email, qualification: 'NOT_QUALIFIED', reason: (($json[\"choices\"][0][\"message\"][\"content\"] || '').match(/REASON:\\s*(.*)/is) || [])[1] || 'Lead not qualified', savedToSheets: false, timestamp: new Date().toISOString() }) }}"},"position":[-80,112],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1}],"connections":{"AI Qualification":{"main":[[{"index":0,"node":"Is Qualified?","type":"main"}]]},"Append row in sheet":{"main":[[{"index":0,"node":"Qualified Response","type":"main"}]]},"Is Qualified?":{"main":[[{"index":0,"node":"Append row in sheet","type":"main"}],[{"index":0,"node":"Not Qualified Response","type":"main"}]]},"Webhook":{"main":[[{"index":0,"node":"AI Qualification","type":"main"}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"54a9e9bd-432c-4e9c-a175-ce7e4fc54089","activeVersionId":"54a9e9bd-432c-4e9c-a175-ce7e4fc54089","versionCounter":95,"triggerCount":1,"shared":[{"updatedAt":"2026-02-12T03:13:27.289Z","createdAt":"2026-02-12T03:13:27.289Z","role":"workflow:owner","workflowId":"z7hftIHKkaxIDHKMCflwE","projectId":"JybVhhnYfBYt7rOz","project":{"updatedAt":"2026-01-17T10:32:33.347Z","createdAt":"2026-01-17T10:15:29.385Z","id":"JybVhhnYfBYt7rOz","name":"Sai Kumar <saikumard8390@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"4c690c1a-8180-4f2b-943b-4a631229bb92","projectRelations":[{"updatedAt":"2026-01-17T10:15:29.385Z","createdAt":"2026-01-17T10:15:29.385Z","userId":"4c690c1a-8180-4f2b-943b-4a631229bb92","projectId":"JybVhhnYfBYt7rOz","user":{"updatedAt":"2026-02-12T09:42:19.000Z","createdAt":"2026-01-17T10:15:28.944Z","id":"4c690c1a-8180-4f2b-943b-4a631229bb92","email":"saikumard8390@gmail.com","firstName":"Sai","lastName":"Kumar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-17T10:34:04.509Z","personalization_survey_n8n_version":"2.3.6","companySize":"<20","companyType":"digital-agency","role":"business-owner","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"lT3D3zTBoNFyyzACoCQi6","userActivatedAt":1769873866123,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1770834774145}},"disabled":false,"mfaEnabled":true,"lastActiveAt":"2026-02-12","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-12T07:03:49.172Z","createdAt":"2026-02-12T07:03:49.172Z","versionId":"54a9e9bd-432c-4e9c-a175-ce7e4fc54089","workflowId":"z7hftIHKkaxIDHKMCflwE","nodes":[{"id":"7bd0625b-a093-4ae7-83d4-4d88d3f97a9e","name":"Webhook","parameters":{"httpMethod":"POST","options":{},"path":"ai-lead-capture","responseMode":"responseNode"},"position":[-752,16],"type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"edf48e14-caca-4430-8a07-263126e2c75b","onError":"continueRegularOutput"},{"credentials":{"openAiApi":{"id":"L50tzVeIuwayaVlB","name":"OpenAIAPIKey"}},"id":"d5e3362e-c7a3-4c0c-be3d-50acd4139d23","name":"AI Qualification","parameters":{"model":"gpt-4o-mini","options":{},"prompt":{"messages":[{"content":"You are a lead qualification assistant for a dental clinic. Classify the lead as either QUALIFIED or NOT_QUALIFIED.\n\nA qualified lead must:\n- Have clear intent to book a dental appointment or service\n- Show genuine interest in dental care\n\nRespond ONLY in this exact format:\nSTATUS: QUALIFIED or NOT_QUALIFIED\nREASON: short explanation","role":"system"},{"content":"=Name: {{ $json.body.name }}\nEmail: {{ $json.body.email }}\nPhone: {{ $json.body.phone || 'Not provided' }}\nService: {{ $json.body.service || 'Not specified' }}\nMessage: {{ $json.body.message }}","role":"user"}]},"requestOptions":{},"resource":"chat","simplifyOutput":false},"position":[-528,16],"type":"n8n-nodes-base.openAi","typeVersion":1},{"id":"0bb05eb4-6124-454c-b47d-f699cf1b86df","name":"Is Qualified?","parameters":{"conditions":{"combinator":"and","conditions":[{"id":"1","leftValue":"={{ ($json.choices[0].message.content.match(/STATUS:\\s*(QUALIFIED|NOT_QUALIFIED)/i) || [])[1] || 'UNKNOWN' }}","operator":{"operation":"equals","type":"string"},"rightValue":"QUALIFIED"}],"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"}}},"position":[-304,16],"type":"n8n-nodes-base.if","typeVersion":2.3},{"credentials":{"googleSheetsOAuth2Api":{"id":"JQS8IgeFbaxByY61","name":"Google Sheets account"}},"id":"8026b6a2-8e8e-4708-b5d0-debf76927c29","name":"Append row in sheet","parameters":{"dataMode":"defineBelow","documentId":{"__rl":true,"mode":"list","value":"1omzK8szrA7bAdplT_ZAgu-XqI12rwuDXiP36yOsjqBk"},"fieldsUi":{"fieldValues":[{"fieldId":"Name","fieldValue":"={{ $('Webhook').item.json.body.name }}"},{"fieldId":"Email","fieldValue":"={{ $('Webhook').item.json.body.email }}"},{"fieldId":"Message","fieldValue":"={{ $('Webhook').item.json.body.message }}"},{"fieldId":"Mobile","fieldValue":"={{ $('Webhook').item.json.body.phone || 'Not provided' }}"},{"fieldId":"Status","fieldValue":"={{ ($json.choices[0].message.content.match(/STATUS:\\s*(QUALIFIED|NOT_QUALIFIED)/i) || [])[1] || 'UNKNOWN' }}"},{"fieldId":"Reason","fieldValue":"={{ ($json.choices[0].message.content.match(/REASON:\\s*(.*)/i) || [])[1] || 'No reason provided' }}"},{"fieldId":"Timestamp","fieldValue":"={{ new Date().toISOString() }}"},{"fieldId":"Source","fieldValue":"={{ $('Webhook').item.json.body.source || 'direct' }}"}]},"operation":"append","options":{},"range":"Sheet1!A:H","resource":"sheet","sheetName":{"__rl":true,"mode":"list","value":"gid=0"}},"position":[-80,-80],"type":"n8n-nodes-base.googleSheets","typeVersion":3},{"id":"1d053ea6-b325-464c-9503-cd576aec36d5","name":"Qualified Response","parameters":{"responseBody":"={{ JSON.stringify({ status: 'qualified', name: $('Webhook').item.json.body.name, email: $('Webhook').item.json.body.email, qualification: 'QUALIFIED', reason: (($('AI Qualification').item.json[\"choices\"][0][\"message\"][\"content\"] || '').match(/REASON:\\s*(.*)/is) || [])[1] || 'Lead qualified', savedToSheets: true, timestamp: new Date().toISOString() }) }}"},"position":[144,-80],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1},{"id":"f8990fa6-1286-46cc-a099-fe22853290dc","name":"Not Qualified Response","parameters":{"responseBody":"={{ JSON.stringify({ status: 'not_qualified', name: $('Webhook').item.json.body.name, email: $('Webhook').item.json.body.email, qualification: 'NOT_QUALIFIED', reason: (($json[\"choices\"][0][\"message\"][\"content\"] || '').match(/REASON:\\s*(.*)/is) || [])[1] || 'Lead not qualified', savedToSheets: false, timestamp: new Date().toISOString() }) }}"},"position":[-80,112],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1}],"connections":{"AI Qualification":{"main":[[{"index":0,"node":"Is Qualified?","type":"main"}]]},"Append row in sheet":{"main":[[{"index":0,"node":"Qualified Response","type":"main"}]]},"Is Qualified?":{"main":[[{"index":0,"node":"Append row in sheet","type":"main"}],[{"index":0,"node":"Not Qualified Response","type":"main"}]]},"Webhook":{"main":[[{"index":0,"node":"AI Qualification","type":"main"}]]}},"authors":"Sai Kumar","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-12T07:03:49.231Z","id":83,"workflowId":"z7hftIHKkaxIDHKMCflwE","versionId":"54a9e9bd-432c-4e9c-a175-ce7e4fc54089","event":"activated","userId":"4c690c1a-8180-4f2b-943b-4a631229bb92"}]}}